.card__name {
    width: calc(100% - 48px);
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: auto;
}