.opisanie__title {
    width: 464px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-left: 40px;
    margin-top: 40px;
}